/*{padding: 0;margin: 0;}

/*ocean*/
#world{position: relative; background-image: url(space.jpeg);background-size: cover; overflow:hidden;	}

/*players*/
.player{height: 100px; width: 100px; background-size: cover; background-image: url('knight.png'); position: absolute; }

/*enemines*/
.enemy{height: 50px; width: 50px; background-size: cover; background-image: url('alien.png'); position: absolute; }

/*missle*/
.missile{height: 10px;width: 5px;background-color: #efa295; position: absolute; }
